<header>
  <h1>{{ settings.store_name }}</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/collections">Shop</a></li>
      <li><a href="/cart">Cart</a></li>
    </ul>
  </nav>
</header>
