<div class="home-page-bg" 
     style="background-image: url({{ section.settings.background_image | img_url: 'original' }});">
  <div class="overlay-content">
    <h1>Hello World</h1>
  </div>
</div>


{% schema %}
{
  "name": "Home Page Background",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ]
}
{% endschema %}
