<div class="home-page-bg" 
     style="background-image: url({{ section.settings.background_image | img_url: 'original' }});">
  <div class="overlay-content">
    <h1>{{ section.settings.header_text }}</h1>
    <h4>{{ section.settings.subheader_text }}</h4>
    <button>
      {{ section.settings.button_text }}
    </button>
  </div>
 <div>
 
 </div>



</div>


{% schema %}
  {
    "name": "Home Page Background",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
      },
      {
        "type": "text",
        "id": "header_text",
        "label": "Header Text",
        "default": "Diamond Jewelry Collection"
      },
      {
      "type": "text",
      "id": "subheader_text",
      "label": "Subheader Text",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. "
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Get in Touch"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
      "default": "/contact"
    }
    ]
  }
  {% endschema %}
